.techical-support-specialist {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 500;
  }
  .salary-20000- {
    position: relative;
    line-height: 20px;
  }
  .type-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--body-small-400-size);
    color: var(--gray-500);
  }
  .heading1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .google-inc {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .mappin-icon1 {
    width: 18px;
    position: relative;
    height: 18px;
  }
  .dhaka-bangladesh {
    flex: 1;
    position: relative;
    line-height: 20px;
  }
  .loaction {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--body-small-400-size);
    color: var(--gray-500);
  }
  .info11 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .bookmarksimple-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
  }
  .company {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
    font-size: var(--body-medium-500-size);
  }
  .job {
    width: 424px;
    border-radius: var(--br-5xs);
    background: linear-gradient(90deg, #fff6e6, #fff), #fff;
    box-shadow: 0px 2px 18px rgba(24, 25, 28, 0.03);
    border: 1px solid var(--gray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl);
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--body-large-400-size);
    color: var(--gray-900);
    font-family: var(--body-xl-500);
  }
  