.featured-job1 {
    position: relative;
    line-height: 48px;
    font-weight: 500;
  }
  .primary4 {
    position: relative;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .fiarrow-right-icon1 {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .button5 {
    border-radius: var(--br-10xs);
    border: 1px solid var(--primary-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-5xl);
    gap: var(--gap-xs);
    text-align: left;
    font-size: var(--body-medium-500-size);
    color: var(--primary-500);
  }
  .heading2 {
    width: 1320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .job-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    text-align: left;
    font-size: var(--body-large-400-size);
    color: var(--gray-900);
  }
  .featured-job {
    background-color: var(--gray-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-81xl) var(--padding-281xl);
    gap: var(--gap-31xl);
    text-align: center;
    font-size: var(--heading-01-size);
    color: var(--gray-scale-900);
    font-family: var(--body-xl-500);
  }
  