/* Default styles */
.call-to-action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 300px;
    gap: 24px;
  }
  
  .homepage {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  /* Media query for 1200px viewport width */
  @media screen and (max-width: 1200px) {
    .call-to-action {
      flex-direction: column; /* Change flex direction to column */
      align-items: center; /* Center align items */
      padding: 50px; /* Adjust padding */
    }
  
    /* Additional media queries for other components */
    .homepage {
      padding: 50px; /* Adjust padding */
    }
  }
  